@page "/login"
@layout Layout.EmptyLayout
@rendermode InteractiveServer
@inject NavigationManager Nav
@inject ProyectoGym.Business.EntrenadorService EntrenadorService
@inject ProyectoGym.Business.ClienteService ClienteService
@using ProyectoGym.Business
@using ProyectoGym.Domain
@using System.ComponentModel.DataAnnotations

<div class="d-flex justify-content-center align-items-center vh-100 bg-light">
    <div class="card shadow-lg p-4" style="width: 400px; border-radius: 1rem;">
        <h3 class="text-center mb-4 text-primary">Inicio de sesión</h3>

        <EditForm Model="@loginModel" OnValidSubmit="@HandleLogin" FormName="Login">
            <DataAnnotationsValidator />
            
            <ValidationMessage For="@(() => loginModel.Email)" class="text-danger mb-2" />
            <div class="mb-3">
                <label>Email</label>
                <InputText @bind-Value="loginModel.Email" class="form-control" placeholder="Ingrese su email" />
            </div>

            <ValidationMessage For="@(() => loginModel.Contraseña)" class="text-danger mb-2" />
            <div class="mb-3">
                <label>Contraseña</label>
                <InputText @bind-Value="loginModel.Contraseña" type="password" class="form-control" placeholder="Ingrese su contraseña" />
            </div>
            <div class="d-grid mb-3">
                <button type="submit" class="btn btn-primary">Ingresar</button>
            </div>
            <div class="d-grid">
                <button type="button" class="btn btn-outline-secondary" @onclick="IrARegistro">
                    Registrarse
                </button>
            </div>


            @if (!string.IsNullOrEmpty(message))
            {
                <div class="alert alert-danger py-2 text-center mt-3">@message</div>
            }
        </EditForm>
    </div>
</div>

@code {
    private LoginModel loginModel = new();
    private string message = "";

    private void HandleLogin()
    {
        message = "";

        var entrenador = EntrenadorService.GetByEmail(loginModel.Email);
        if (entrenador != null)
        {
            if (ContraseñaHasher.VerifyPassword(loginModel.Contraseña, entrenador.contraseña))
            {
                Nav.NavigateTo($"/dashboard-entrenador/{entrenador.dni}");
                return;
            }
        }

        var cliente = ClienteService.GetByEmail(loginModel.Email);
        if (cliente != null)
        {
            if (ContraseñaHasher.VerifyPassword(loginModel.Contraseña, cliente.contraseña))
            {
                Nav.NavigateTo($"/dashboard-cliente/{cliente.dni}");
                return;
            }
        }

        message = "Email o contraseña incorrectos.";
    }

    public class LoginModel
    {
        [Required(ErrorMessage = "El Email es obligatorio")]
        [EmailAddress(ErrorMessage = "El formato del Email no es válido")]
        public string Email { get; set; } = string.Empty;

        [Required(ErrorMessage = "La contraseña es obligatoria")]
        public string Contraseña { get; set; } = string.Empty;
    }

    private void IrARegistro()
    {
        Nav.NavigateTo("/registrar-entrenador");
    }
}
